.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px
}

.cardConatiner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 1.2rem;
  flex: 1 1 20%;
}

.cardHeading{
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.card:hover {
  transform: scale(1.05);
}

button{
  background: #0f36b6;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #0f36b6;
}

input{
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
};

.form-label{
  font-size: 14px;
  text-align: start;
}

.form-container{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  margin: 0 10px
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}


